<footer class="section-t-space" [ngClass]="footer.footer_class">
  <div class="container-fluid-lg">
    <!-- <div class="main-footer section-b-space">
      <div class="row g-md-4 g-3">
        <div class="col-xl-6 col-lg-6 col-sm-6">
          <div class="footer-logo">
            <app-footer-logo [data]="data!" [footer]="footer"></app-footer-logo>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" (click)="toggle('categories')">
          <div class="footer-title" [class.show]="active['categories']">
            <h4>{{ 'categories' | translate }}</h4>
          </div>
          <div class="footer-contain">
            <app-footer-categories [data]="data"></app-footer-categories>
          </div>
        </div>
      </div>
    </div> -->
    <div class="sub-footer section-small-space">
      <div class="reserve">
        <h6 class="text-content">©2025 Zettabyte Pte Ltd All rights reserved</h6>
      </div>
      <!-- <app-footer-social-links [data]="data"></app-footer-social-links> -->
    </div>
  </div>
</footer>
